<div class="row">
  <div class="col-md-4">
    <h2>Ohmlets</h2>
    <ul>
      {{#each ohmlets}}
        <li>
          {{#link-to 'ohmlet' this}}{{name}}{{/link-to}}
        </li>
      {{/each}}
    </ul>
    
    <h2>Surveys</h2>
    <ul>
      {{#each sortedSurveys}}
        <li>
          {{#if id}}
            {{#link-to 'survey' this}}{{name}}{{/link-to}} / 
            {{#if this.ownedByCurrentUser}}
              {{#link-to 'survey.edit' this}}Edit{{/link-to}}
            {{else}}
              {{#link-to 'survey.clone' this}}Clone{{/link-to}}
            {{/if}}
          {{else}}
            {{name}}
          {{/if}}
        </li>
      {{/each}}
      <li>{{#link-to 'survey.new'}}New Survey{{/link-to}}</li>
    </ul>
    
    <h2>Streams</h2>
    <ul>
      {{#each sortedStreams}}
        <li>
          {{#if id}}
            {{#link-to 'stream' this}}{{name}}{{/link-to}} / 
            {{#if this.ownedByCurrentUser}}
              {{#link-to 'stream.edit' this}}Edit{{/link-to}}
            {{else}}
              {{#link-to 'stream.clone' this}}Clone{{/link-to}}
            {{/if}}
          {{else}}
            {{name}}
          {{/if}}
        </li>
      {{/each}}
      <li>{{#link-to 'stream.new'}}New Stream{{/link-to}}</li>
    </ul>
  </div>
  <div class="col-md-8">{{outlet}}</div>
</div>