<div class="navbar-default navbar-static-side" role="navigation">
  {{#sidebar-wrapper}}
    <ul class="nav" id="side-menu">

      <li class="sidebar-search">
          <div class="input-group custom-search-form">
              <input type="text" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
              <button class="btn btn-default" type="button">
                  <i class="fa fa-search"></i>
              </button>
          </span>
          </div>
          <!-- /input-group -->
      </li>
      <li>
        {{#link-to 'home'}}<i class="fa fa-dashboard fa-fw"></i> Dashboard{{/link-to}}
      </li>
      <li>
          <a href="#"><i class="fa fa-group fa-fw"></i> Ohmlets<span class="fa arrow"></span></a>
          <ul class="nav nav-second-level">
            {{#each ohmlets}}
              <li>
                {{#link-to 'ohmlet' this}}{{name}}{{/link-to}}
              </li>
            {{/each}}
          </ul>
          <!-- /.nav-second-level -->
      </li>
      <li>
          <a href="#"><i class="fa fa-bar-chart-o fa-fw"></i> Surveys<span class="fa arrow"></span></a>
          <ul class="nav nav-second-level">
            {{#each sortedSurveys}}
              <li>
                {{#if id}}
                  {{#link-to 'survey' this class="item"}}
                    {{#if ownedByCurrentUser}}
                      <i class="fa fa-edit pull-right action" {{action 'edit' this bubbles=false}}></i>
                    {{else}}
                      <i class="fa fa-copy pull-right action" {{action 'clone' this bubbles=false}}></i>
                    {{/if}}
                    <span class="overflow-ellipsis">
                      {{name}}
                    </span>
                  {{/link-to}}
                {{else}}
                  <a href="#">{{name}}</a>
                {{/if}} 
              </li>
            {{/each}}
            <li>{{#link-to 'survey.new' class="item"}}New Survey{{/link-to}}</li>
          </ul>
          <!-- /.nav-second-level -->
      </li>
      <li>
          <a href="#"><i class="fa fa-exchange fa-fw"></i> Streams<span class="fa arrow"></span></a>
          <ul class="nav nav-second-level">
            {{#each sortedStreams}}
              <li>
                {{#if id}}
                  {{#link-to 'stream' this class="item"}}
                    {{#if ownedByCurrentUser}}
                      <i class="fa fa-edit pull-right action" {{action 'edit' this bubbles=false}}></i>
                    {{else}}
                      <i class="fa fa-copy pull-right action" {{action 'clone' this bubbles=false}}></i>
                    {{/if}}
                    <span class="overflow-ellipsis">
                      {{name}}
                    </span>
                  {{/link-to}}
                {{else}}
                  <a href="#">{{name}}</a>
                {{/if}}
              </li>
            {{/each}}
            <li>{{#link-to 'stream.new'}}New Stream{{/link-to}}</li>
          </ul>
          <!-- /.nav-second-level -->
      </li>

    </ul>
    <!-- /#side-menu -->
  {{/sidebar-wrapper}}
  <!-- /.sidebar-collapse -->
</div>
<!-- /.navbar-static-side -->